{{ COMMON_LOG_DIR }}/*/edx.log {
  su syslog adm
  create
  compress
  copytruncate
  delaycompress
  dateext
  dateformat -%Y%m%d-%s
  missingok
  notifempty
  daily
  rotate 1825
  prerotate
    /bin/chown syslog:adm /edx/var/log/*/edx.log* 
  endscript
  postrotate
    /usr/bin/killall -HUP rsyslogd
  endscript
}
