{{ COMMON_LOG_DIR }}/*/edx.log {
  su syslog adm
  create
  compress
  copytruncate
  delaycompress
  dateext
  dateformat -%Y%m%d-%s
  missingok
  notifempty
  daily
  rotate 180
  postrotate
    /usr/bin/killall -HUP rsyslogd
  endscript
}
